.jumbotron {
    width: 80%;
    height: 600px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    margin-top: 10%;
}

#getStarted {
    margin-top: 10%;
}

#Section3 {
    text-align: center;
    background-image: url(https://thumbs.dreamstime.com/z/italian-food-background-variety-ingredients-over-slate-35112782.jpg);
    
}

#Section5a {
    background-image: url(https://thumbs.dreamstime.com/z/italian-food-background-variety-ingredients-over-slate-35112782.jpg);
    text-align: center;
}

#Btn1Page5a {
    font-size: 150%;
    width: 50%;
    margin-bottom: 3%;
    }

#Btn2Page5a {
    font-size: 150%;
    width: 50%;
    margin-bottom: 3%;
}

#Btn3Page5a {
    font-size: 150%;
    width: 50%;
    margin-bottom: 3%;
}

#Btn4Page5a {
    font-size: 150%;
    width: 50%;
}

#Section5b {
    background-image: url(https://thumbs.dreamstime.com/z/italian-food-background-variety-ingredients-over-slate-35112782.jpg);
    text-align: center;
}

#Btn1Page5b {
    font-size: 150%;
    width: 50%;
    margin-bottom: 3%;
    }

#Btn2Page5b {
    font-size: 150%;
    width: 50%;
    margin-bottom: 3%;
}

#Btn3Page5b {
    font-size: 150%;
    width: 50%;
    margin-bottom: 3%;
}

#Btn4Page5b {
    font-size: 150%;
    width: 50%;
}

#Section6b{
    background-image: url(https://thumbs.dreamstime.com/z/italian-food-background-variety-ingredients-over-slate-35112782.jpg);
    text-align: center;
}

#Btn1Page6b {
    font-size: 150%;
    width: 50%;
    margin-bottom: 2%;
    }

#Btn2Page6b {
    font-size: 150%;
    width: 50%;
    margin-bottom: 2%;
}

#Btn3Page6b {
    font-size: 150%;
    width: 50%;
    margin-bottom: 2%;
}

#Btn4Page6b {
    font-size: 150%;
    width: 50%;
    margin-bottom: 2%
}


#Btn5Page6b {
    font-size: 150%;
    width: 50%;
    margin-bottom: 2%
}

#Btn6Page6b {
    font-size: 150%;
    width: 10%;
}

#Section6a{
    background-image: url(https://thumbs.dreamstime.com/z/italian-food-background-variety-ingredients-over-slate-35112782.jpg);
    text-align: center;
}