.jumbotron {
    width: 80%;
    height: 600px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    margin-top: 10%;
}

#getStarted {
    margin-top: 10%;
}

.cardPage4 {
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 2%;
    float: left;
}